.completed {
  text-decoration: line-through;
  color: #6c757d;
}
.task-item {
  transition: background-color 0.3s;
}
.task-item:hover {
  background-color: #f8f9fa;
}
.due-date {
  font-size: 0.8em;
  color: #6c757d;
}
.overdue {
  color: #dc3545;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: block;
}

li{
  width: 100%;     
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
/*
li {
  display: flex;
  padding: 15px;
  gap: 15px;
  align-items: center;
  margin: 5px;
}
